.container {
  width: 800px;
  height: 500px;
  margin: 20px auto 0px auto;
  border: solid 1px black;
}

#carousel {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  position: relative
}

#carousel #slide {
  width: 100%;
  height: 100%;
}

/* buttons */
.btn {
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 225px;
  background-color: #C0C0C0;
  border-radius: 25px;
  display: none;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
}

.btn:hover{
  background-color: transparent;
  border-radius: 25px;
}
